{% extends "set.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Here is a little about us!</h1>
<h3>We are a non-profit organization established in 1438 by Gabe Renteria. I Alexander J. Gomez, the new owner of this establishment, along with the rest of my companions strive to better educate the public. Finding a car can be hard, but here at Jordan's Pizzaria we make that easy! Give it a shot yourself! Check out some of our other pages!</h3>
<p>We use the JSON data linked <a href="https://think.cs.vt.edu/corgis/json/cars/">here</a> to pull our information out and recommend it to you. The data gives information about a wide varity of cars explaining all there is to know about them. Some examples of the data include the engine type, transsmision type, the wheel drive, the model and year of the car, and the dimensions.</p>

{% endblock %}
